.card-container {
    width: 336px;
    /* height: 424px; */
    height: 394px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    transition: box-shadow 0.3s ease;
    position: relative;
    border-radius: 6px;
}

.card-container:hover {
    box-shadow: 0 4px 30px grey; /* Customize shadow as needed */
}

.img-container {
    position: relative; /* Make this container the reference for the cart icon's position */
    width: 100%; /* Ensures the container takes the full width */
    height: 65%; /* Set maximum height to prevent overflowing */
}

img {
    width: 100%; 
    height: 100%; /* Allow image to scale while maintaining aspect ratio */
    object-fit: cover;
    display: block;
    margin: auto;
}

.text-container {
    display: flex; /* Use flexbox for the text */
    flex-direction: column; /* Stack name and price vertically */
    margin-top: 40px; /* Space between image and text */
}

.item-name, 
.item-price {
    margin: 0; /* Remove default margins */
}

.item-price {
    margin-top: 2px; /* Close spacing between name and price */
    font-weight: 600;
    padding-bottom: 20px;
}

.out-of-stock {
    opacity: 0.5; /* Reduce opacity to grey out */
    pointer-events: none; /* Disable interaction when out of stock */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw; /* Font size adjusts based on viewport width */
    text-align: center;
    width: auto; /* Ensure the width of the overlay adjusts dynamically */
}

.cart-icon {
    position: absolute; /* Position relative to the img-container */
    bottom: -20px; /* Align to the bottom of the image */
    right: 10px; /* Align to the right of the image */
    width: 40px; /* Adjust the size of the cart icon */
    height: 40px; /* Adjust the size of the cart icon */
    display: none; /* Initially hidden */
}

.card-container:hover .cart-icon {
    display: block; /* Show the cart icon on hover */
}
