.items-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 30px;
  justify-content: center;
  width: 100%;
}

.title {
    grid-column: 1 / -1; 
    text-align: left; 
    padding: 50px 0;
    font-weight: lighter;
}
