.product-gallery-container {
    display: flex; 
    /* width:60%; */
    max-width: 90%;
    max-height: 500px;
    /* width:700px; */
}

.image-preview-container {
    position: relative; 
    flex: 1; /* Allow the image preview to take available space */
    display: flex;
    align-items: center; /* Center the image vertically */
    margin-left: 50px;
    width: 575px;
    height: 100%; 
}

.main-image {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.thumbnail {
    width: 79px; 
    height: 80px;
    object-fit: contain;
    cursor: pointer;
    transition: box-shadow 0.3s; 
} 
.thumbnail + .thumbnail {
    margin-top: 20px;
}

.thumbnail.selected {
    box-shadow: 0 0 5px 2px grey; 
    border-radius: 5px; 
}

.thumbnail:hover {
    box-shadow: 0 0 5px 2px lightgrey;
}


.arrow {
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    border: 0px solid rgba(0, 0, 0, 0.4); 
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: pointer;
    font-size: 24px; 
    transition: background 0.3s; 
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    position: absolute;
    left: 9px;
    z-index: 1;
}

.right-arrow {
    position: absolute;
    right: 10px; 
    z-index: 1;
}
