.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 60px;
  flex-wrap: wrap;
}

.navbar-left {
  display: flex;
  gap: 30px;
}

.navbar-left h3 {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  color: rgb(62, 197, 62);
  padding-bottom: 20px;
  position: relative;
}

.navbar-left a {
  text-decoration: none;
  color: inherit;
}

.navbar-left h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: rgb(62, 197, 62);
  transition: width 0.3s ease;
}

.navbar-left h3:hover::after {
  width: 100%;
}

.navbar-left h3.active::after {
  width: 100%;
}

.navbar-logo {
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}

.navbar-logo img {
  height: 40px;
  object-fit: contain;
}

.navbar-right {
  height: 40px;
  width: 6%;
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.total-label {
  font-weight: bold;
}

.total-price {
  font-weight: bold;
}

.place-order-btn {
  padding: 10px 20px;
  background-color: rgb(67, 196, 67);
  width: 100%;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-order-btn:hover {
  background-color: rgb(1, 137, 1);
}

.cart-icon-nav {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cart-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  width: 20px;
  position: relative;
  top: -50%;
  left: 8%;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
}

.cart-window {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 27%;
  max-height: 80%;
  overflow-y: auto;
  margin-left: 65%;
}

.cart-window h4 {
  margin: 0 0 10px 0;
}

.cart-window ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-window li {
  padding: 5px 0;
}

@media (max-width: 768px) {
  .navbar-left {
    gap: 20px;
  }

  .navbar-logo img {
    height: 30px;
  }

  .cart-icon {
    height: 25px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-left {
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar-logo img {
    height: 25px;
  }

  .cart-icon {
    height: 20px;
  }
}

.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-image-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  gap: 10px;
}

.quantity-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-button-top {
  background-color: transparent;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 4px;
  margin-bottom: 25px;
}

.arrow-button-bot {
  background-color: transparent;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  margin-top: 25px;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 4px;
}

.quantity-control span {
  font-size: 16px;
  margin: 5px 0;
}

.cart-item-image {
  height: 130px;
  width: 130px;
  display: block;
}

.size-cart p, .color-cart p {
  font-weight: normal;
  font-size: small;
  margin-bottom: 10px;
}

.item-size-cart {
  padding: 2px 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: default;
  transition: background-color 0.3s ease;
}

.item-size-cart.selected {
  background-color: #333;
  color: #f9f9f9;
  border-color: #333;
}

.size-cart {
  margin-top: 5px;
}

.color-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-swatches {
  display: flex;
  gap: 6px;
}

.color-swatch-cart {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  cursor: default;
}

.color-swatch-cart.selected {
  border: 2px solid black;
}

.product-name-cart {
  font-weight: 100;
  font-family: 'Raleway';
}

.cart-item-price {
  font-weight: 500;
}
